
#show-result {
  display: none;
}

.planet {
  margin: auto;
  width: 400px;
  height: 400px;
  padding: 50px;
  background: #040121;
  color: white;
}

.planet label {
  font-size: 20px;
  font-style: oblique;
}

h5 {
  background: #38404c;
  width: 100px;
  padding: 12px;
}

#earth {
   width: 250px;
   height: 250px;
   background: #4b6f87;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 125px;
   animation-name: earthColor;
   animation-duration: 11s;
   animation-iteration-count: infinite;
}

@keyframes earthColor {
  0%   {background-color: #4b6f87;}
  50%  {background-color: #496854;}
  100% {background-color: #d6dbd8;}
}

#mercury {
   width: 140px;
   height: 140px;
   background: #838a8e;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 70px;
   animation-name: mercuryColor;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}
@keyframes mercuryColor {
  0%   {background-color: #838a8e;}
  30%  {background-color: #e8e8e8;}
  60%  {background-color: #535453;}
  100% {background-color: #878787;}
}

#venus {
   width: 200px;
   height: 200px;
   background: #c17a28;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 100px;
   animation-name: venusColor;
   animation-duration: 9s;
   animation-iteration-count: infinite;
}

@keyframes venusColor {
  0%   {background-color: #c17a28;}
  25%  {background-color: #d8d8d4;}
  50%  {background-color: #ccc9b7;}
  75%  {background-color: #a39f8a;}
  100% {background-color: #a58b66;}
}

#mars {
   width: 150px;
   height: 150px;
   background: #a85a3e;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 75px;
   animation-name: marsColor;
   animation-duration: 11s;
   animation-iteration-count: infinite;
}

@keyframes marsColor {
  0%   {background-color: #a85a3e;}
  50%  {background-color: #7c4b33;}
  75%  {background-color: #a32610;}
  100% {background-color: #a85332;}
}

#jupiter {
   width: 300px;
   height: 300px;
   background: #d8d2d0;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 150px;
   animation-name: jupiterColor;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}

@keyframes jupiterColor {
  0%   {background-color: #d8d2d0;}
  25%  {background-color: #a30b0b;}
  50%  {background-color: #5d7ea3;}
  75%  {background-color: #cec16f;}
  100% {background-color: #a5a395;}
}
